version: "3.9"

services:
  mysql:
    image: mysql:8.0
    container_name: mysql_db
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: sistema_telefonico
    ports:
      - "3306:3306"
    volumes:
      - ./dbdata:/var/lib/mysql

  servidor:
    build:
      context: .
      dockerfile: Dockerfile.servidor
    container_name: servidor_java
    depends_on:
      - mysql
    ports:
      - "9599:9599"

  cliente:
    build:
      context: .
      dockerfile: Dockerfile.cliente
    container_name: cliente_java
    depends_on:
      - servidor
    stdin_open: true
    tty: true

